* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {      
    background-color: aqua;
    padding-bottom: 5px;
}

main, footer {
    padding-bottom: 2px;
}

.flexbox {
    display: flex;
}

.standard-flex {
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
}

.container {
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
}

.style-dashed {
    border-style: dashed;
    border-width: 2px;
}

.show-empty {
    min-height: 200px;
}

/* upper header */

.sub-boxes-header {
    background-color: orange;
    padding: 5px 10px; 
}

.logo {
    width: 20%;
    text-align: start;
}

.link {
    width: 40%;
    text-align: center;
}

.login {
    width: 20%;
    text-align: end;
}

/* fine upper header - inizio lower header*/

.bg-blue {
    background-color: blue;
}

.sub-box-lower-header {    
    width: 50%;
    background-color: rgb(233, 114, 134);
}


/* fine lower header - inizio pages*/


.bg-grey {
    background-color: grey;
}

.bg-black {
    background-color: black;
}

/* fine pages - inizio boxes */

.cerulean-box {
    width: 50%;
    background-color: cornflowerblue;
}

.pink-box {
    width: 30%;
    background-color: pink;
}

.big-green-box {
    width: 80%;
    background-color: green;
}

/*  fine boxes - inizio last page */

.meat-box {
    background-color: rgb(195, 4, 80);
    min-width: 20%;
}

.aqua-box {
    background-color: aqua;
    border-style: dashed;
    border-color: white;
    border-width: 2px;
    flex-grow: 1;
    max-width: 15%;
}

/* footer  */

.lowered-centered {
    align-items: flex-end;
    justify-content: center;
    padding: 1em 2em 0;
}

.aquamarine-box {
    background-color: aquamarine;
    width: 80%;
}

button {
    background-color: pink;
}

.flexbox-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}